<div class="container">
  <h1>Dragonfly uses data to help government, industry, and business make effective decisions.</h1>
  <div class="tile-container">

    <section class="tile people half">
      <div class="heading">
        <h2>
          <span class="highlight">We are scientists</span> who believe in making science useful in the world.
        </h2>
      </div>
      <div class="people-list">
        $for(people)$
          <div class="person">
            <a href="$pageurl$">
              <img src="$portholeImage$" />
              <p class="person-description">$title$</p>
            </a>
          </div>
        $endfor$
      </div>
    </section>

    <section class="tile work half" style="background-image: url('/work/2014-10-01-warp-strike/streamers.jpg');">
      <div class="heading">
        <h2>
            <span class="highlight">We use statistical analysis</span> so our clients can
            make decisions based on the best available information.
        </h2>
      </div>
      <div class="footing">
        <p class="testimonial">
          Dragonfly consistently produced strong, defensible outputs, and delivered value for money.
        </p>
        <p class="testimonial-source">
          Johanna Pierre, Manager, Marine Conservation Services, Department of Conservation
        </p>
      </div>
    </section>

    <section class="tile work third" style="background-image: url('/work/2015-02-10-INZ-case-study/prediction-service.png');">
      <div class="heading">
        <h2>
          We <span class="highlight">built a system for data management, analysis and reporting</span> for Immigration New Zealand.
        </h2>
      </div>
      <div class="footing">
        <p class="testimonial">
          We worked out the cost saving from this project, ... it was significant.
        </p>
        <p class="testimonial-source">
          Steve Cantlon, Principal Business Adviser, Immigration New Zealand
        </p>
      </div>
    </section>

    <section class="tile publications third">
      <div class="heading">
        <h2>
          <span class="highlight">We share our findings</span> with the scientific community and the broader community.
        </h2>
      </div>
      <div class="footing">
        <div class="journal-list">
          <div class="journal-logo" id="journal-nature">
            <img src="../images/journal-logos/nature.png">
          </div>
          <div class="journal-logo" id="journal-science">
            <img src="../images/journal-logos/science.png">
          </div>
          <div class="journal-logo" id="journal-plos">
            <img src="../images/journal-logos/plos.png">
          </div>
          <div class="journal-logo" id="journal-peerj">
            <img src="../images/journal-logos/peerj.png">
          </div>
        </div>
      </div>
    </section>

    <section class="tile people third" style="background-image: url('/work/2015-03-02-paua-logger-case-study/dave-and-jules.jpg');">

    </section>

    <section class="tile work full" style="background-image: url('/work/2014-10-01-seabird-risk/bullers.jpg');">
      <div class="heading">
        <h2>
          We supported <span class="highlight">evidence based policy</span> for the National Plan of Action - Seabirds.
        </h2>
      </div>
      <div class="footing">
        <p class="testimonial">
          They fostered an open and inclusive approach with all stakeholders.
        </p>
        <p class="testimonial-source">
          Bob Zuur, Marine Advocate, WWF-New Zealand
        </p>
      </div>
    </section>

    <section class="tile data half">
      <div class="heading">
        <h2>
          We share <span class="highlight">open data</span> on seabird, marine mammal, and turtle bycatch.
        </h2>
      </div>
    </section>

    <section class="tile work half" style="background-image: url('/work/2015-03-25-reporting-case-study/electricity-use-and-demand.png');">
      <div class="heading">
          <h2>
            We <span class="highlight">improved data science capability</span> with the sector performance team at MBIE.
          </h2>
      </div>
      <div class="footing">
        <p class="testimonial">
          If I have another chance to work with Dragonfly I won't hesitate to say yes. No question
        </p>
        <p class="testimonial-source">
          Vij Kooyela, Senior Analyst, Sector Performance Team, Ministry of Business, Innovation, & Employment
        </p>
      </div>
    </section>

  </div>
</div>
